@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body{
    color: #d9e6fd;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
}

.chart{
    background-color: #4285f4;
    width: 310px;
    height: 500px;
}

.users{
    padding: 10px 20px;
}

.usercount{
    font-size: 50px;
    margin: 0;
    padding-bottom: 5px;
}

.smalltext{
    font-size: 13px;
    margin: 0px;
    padding: 7px 0px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #649bf6;
}

table{
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    margin-bottom: 5px;
}

th{
    text-align: left;
    font-weight: normal;
}

td{
    border-top: 1px solid #649bf6;
    padding: 5px;
}

.tdright{
    text-align: right;
}

.uppercase{
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}


.blockchart{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row nowrap;
    padding: 20px 0px;
}

.block1{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 25px;

}

.block2{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 30px;

}

.block3{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 35px;

}

.block4{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 40px;

}

.block5{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 45px;

}

.block6{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 50px;

}

.block7{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height:55px;

}

.block8{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 60px;

}

.block9{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 65px;

}

.block10{
    background-color: #d9e6fd;
    margin-right: 1px;
    width: 8px;
    height: 70px;

}